/* ====== Basic Layout ===== */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

h1, h2, .container, .box, .callButton {
    text-align: center;
    justify-content: center;
}

h1 {
    margin: 0;
    border: 3rem solid rgb(204,221,238);
    background-color: rgb(204,221,238);
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 75rem;
    padding: 0.5rem;
}

.box {
    background-color: rgb(136,153,170);
    border: 0.5rem solid white;
    padding: 0.5rem;
    height: 10rem;
    width: 50%;
}

button {
    background-color: rgb(204,221,238);
    padding: 0.7rem;
    margin: 1rem;
}

/* ===== CSS Nav Bar ===== */
nav { 
    padding: 1rem 2.5rem 1rem; 
    background-color: rgb(238,238,238);
}

.navBarItems {
    float: right;
}

.navBarItems a{
    text-decoration: none;
    color: black;
    padding-left: 3rem;
}

.burgerIcon {
    display: none;
}

/* ===== Media Query for RWD ===== */
@media (max-width: 500px) {
    .box {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .burgerIcon {
        display: inline;
        float: right;
    }
    .navBarItems {
        display: none;
    }
    .X {
        float: right;
    }
    .toggleItems a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
    }
    .toggleItems {
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        line-height: 3rem;
        padding: 1rem;
    }
}