/* Basic Layout */
/* 6/17/2019 adjust to a mobile first approach */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    /* expands background color width */
}

main {
    text-align: center;
    /* targets all text besides navBar */
}

header {
    border: 3rem solid rgb(204,221,238);
    background-color: rgb(204,221,238);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    /* margin-top 0 to not collide with Section Title */
}

.box {
    background-color: rgb(136,153,170);
    border: 1rem solid white;
    padding: 0.5rem;
    height: 10rem;
    width: 95%;
}

.box1 {
    border-top: 0;
}

button {
    background-color: rgb(204,221,238);
    padding: 0.7rem;
    margin: 1rem;
}

/* Nav Bar */
nav {
    padding: 1rem 2.5rem 1rem; 
    background-color: rgb(238,238,238);
}

.navItem {
    float: right;
}

#toggle,
.itemMenu {
    display: none;
}

#toggle:checked + .itemMenu,
a {
    display: block;
}

nav a {
    text-decoration: none;
    color: black;
    padding-left: 3rem;
}

/* Media Query for RWD*/
@media (min-width: 500px) {
    .box {
        width: 50%;
        border: 0.5rem solid white;
    }
    .box1,
    .box2 {
        border-top: 0;
    }
    .container {
        max-width: 95%;
        margin: 0 auto;
    }
}

@media (min-width: 800px) {
    .itemMenu,
    .itemMenu a {
        display: inline;
    }
    label,
    #toggle {
        display: none;
    }
    .container {
        border-top: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 75rem;
    }
    .box {
        width: 50%;
    }
}